[Desktop Entry]
Type=Application
Name=Joushen Studio (@@NAMESPACE@@)
GenericName=Joushen Studio
Comment=Joushen Studio packaged build (@@NAMESPACE@@)
Exec=env OD_PACKAGED_NAMESPACE=@@NAMESPACE@@ @@EXEC_PATH@@ --appimage-extract-and-run %U
Icon=@@ICON_PATH@@
Categories=Development;Utility;
StartupWMClass=Joushen Studio
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/od;
